<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <!--Definición del bloque que contiene la cabecera -->
      {% block head %}
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <title>Titulo</title>
      {% endblock %}
  </head>
  <body>

 <!--Definición del bloque que contiene el menú -->
{% block menu %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <!--Muestra la variable titulo -->
      <a class="navbar-brand" href="#">{{ titulo }}</a></a>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2"  id="navbarSupportedContent">
     <ul class="navbar-nav">
      <li class="nav-item active">
         <!-- Crear URL que llama a la función 'index' -->
        <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <!-- Crear URL que llama a la función 'estension' -->
        <a class="nav-link" href="{{url_for('extension')}}">Extensión de templates</a>
      </li>
      <li class="nav-item">
        <!-- Crear URL que llama a la función 'macros' -->
        <a class="nav-link" href="{{url_for('macros')}}">Macros</a>
      </li>
      <li class="nav-item">
      <!-- Mostrar nombre del usuario o boton de iniciar sesión  -->
       {% if nombre != "" %}
         <span class="navbar-text">Hola {{nombre}}</span>
       {% else %}
         <a class="btn btn-info">Iniciar sesion</a>
       {% endif %}
       </li>
     </ul>
   </div>
</nav>
{% endblock %}
  <br/>
   <!--Definición del bloque que contendrá el contenido -->
  {% block contenido %}
  {% endblock %}
  <br/>
   <!--Definición del bloque que contiene el pie -->
  {% block pie %}
  <footer class="footer">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <ul>
              <li>
                <a href="#">Enlace 1</a>
              </li>
              <li>
                <a href="#">Enlace 2</a>
              </li>
              <li>
                <a href="#">Enlace 3</a>
              </li>
              <li>
                <a href="#">Enlace 4</a>
              </li>
          </ul>
        </div>
        <div class="col-md-6">
            <p>Aenean purus mi, laoreet et aliquam quis, imperdiet non risus. Nulla id luctus enim, convallis laoreet urna. Curabitur iaculis dictum ante, eget sodales massa elementum quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tempor facilisis nisi at commodo.</p>
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>
  </footer>
 {% endblock %}
